@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600); 
body{
    margin: 0px;
    padding:0px;
    align-items: flex-end;
    background-image: url("/img/fastfoodicon.png");
}
.notification{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    display: flex;
    height: 100px;
    justify-content: space-between;
    opacity: 0;
    padding-right: 15px;
    position: absolute;
    right: 30px;
    top: 150px;
    visibility: hidden;
    transition: all .5s ease;
    width: 270px;
}
.notification1{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    display: flex;
    height: 100px;
    justify-content: space-between;
    opacity: 0;
    padding-right: 15px;
    position: absolute;
    right: 30px;
    top: 150px;
    visibility: hidden;
    transition: all .5s ease;
    width: 270px;
}
.notification2{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    display: flex;
    height: 100px;
    justify-content: space-between;
    opacity: 0;
    padding-right: 15px;
    position: absolute;
    right: 30px;
    top: 150px;
    visibility: hidden;
    transition: all .5s ease;
    width: 270px;
}
.notification3{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    display: flex;
    height: 100px;
    justify-content: space-between;
    opacity: 0;
    padding-right: 15px;
    padding-top: 30px;
    position: absolute;
    right: 30px;
    bottom: 90px;
    top: 150px;
    visibility: hidden;
    transition: all .5s ease;
    width: 270px;
}
.notification5{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    display: flex;
    height: 100px;
    justify-content: space-between;
    opacity: 0;
    padding-right: 15px;
    padding-top: 30px;
    position: absolute;
    right: 30px;
    bottom: 90px;
    top: 150px;
    visibility: hidden;
    transition: all .5s ease;
    width: 270px;
}
.notification6{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    display: flex;
    height: 100px;
    justify-content: space-between;
    opacity: 0;
    padding-right: 15px;
    padding-top: 30px;
    position: absolute;
    right: 30px;
    bottom: 90px;
    top: 150px;
    visibility: hidden;
    transition: all .5s ease;
    width: 270px;
}
.notification7{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    display: flex;
    height: 100px;
    justify-content: space-between;
    opacity: 0;
    padding-right: 15px;
    padding-top: 30px;
    position: absolute;
    right: 30px;
    bottom: 90px;
    top: 150px;
    visibility: hidden;
    transition: all .5s ease;
    width: 270px;
}
.notification8{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    display: flex;
    height: 100px;
    justify-content: space-between;
    opacity: 0;
    padding-right: 15px;
    padding-top: 30px;
    position: absolute;
    right: 30px;
    bottom: 90px;
    top: 150px;
    visibility: hidden;
    transition: all .5s ease;
    width: 270px;
}
.notification.visible {
    opacity: 1.0;
    top: 20px;
    visibility: visible;
    position:fixed;
}
.notification1.visible {
    opacity: 1.0;
    top: 20px;
    visibility: visible;
}
.notification2.visible {
    opacity: 1.0;
    top: 20px;
    visibility: visible;
}
.notification3.visible {
    opacity: 1.0;
    top: 20px;
    visibility: visible;
}
.notification4.visible {
    opacity: 1.0;
    top: 20px;
    visibility: visible;
}
.notification5.visible {
    opacity: 1.0;
    top: 20px;
    visibility: visible;
    position:fixed;
}
.notification6.visible {
    opacity: 1.0;
    top: 20px;
    visibility: visible;
}
.notification7.visible {
    opacity: 1.0;
    top: 20px;
    visibility: visible;
}
.notification8.visible {
    opacity: 1.0;
    top: 20px;
    visibility: visible;
}

.notification.confi{
    background-color: #EC6F44;
}
.confir{
    background-color: #EC6F44;
}
.confirm{
    background-color: #EC6F44;
}
.conf{
    background-color: #EC6F44;
}
.con{
    background-color: #EC6F44;
}
.caraagre{
    background-color: #EC6F44;
}
.lecheagre{
    background-color: #EC6F44;
}
.bomagre{
    background-color: #EC6F44;
}
.capuagre{
    background-color: #EC6F44;
}
.notification > .icon {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 50px;
}
.notification > .icon > i {
    color: white;
    cursor: default;
}
.notification > .text {
    align-items: center;
    color: white;
    cursor: default;
    display: flex;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
    width: calc(95% - 50px);
    word-wrap: normal;
}
.notification > .close {
    color: rgba(255, 255, 255, .8);
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 5px;
    transition: color .5s ease;
}
.notification > .close:hover {
    color: #fff;
}
h1{
    text-align:center;
    color: white;
}
h4{
    font-size: 16px;
    font-weight:700;
}
header{
    padding:20px 0 0 0;
    text-align: center;
    justify-content: center;
    background-color:#F76207;
}
.img_logo{
    height: 50px;
    width: 50px;
}
.navct{
    display:flex;
    color:white;
    padding:10px;
    text-transform: uppercase;
}
.navct a{
    justify-content: center;
    border: none;
    border-radius: 20px;
    color:white;
    text-decoration:none;
    padding:10px;
}
.navct a:hover{
    background-color:yellow;
    transition: ease-in .3s;
    box-shadow: none;
    color:red;
}
.navct li{
    text-decoration:none;
    padding-right: 10px;
}
@media(min-width:750px){
    header{
        text-align: left;
    }
}
li{
    list-style: none;
    margin-right: 25px;
    padding: auto;
}

ul{
    list-style: none;
}
.container{
    justify-content: center;
}
.row{
    justify-content: center;
}
.buscar{
    position:absolute;
    /* padding:5px; */
}

.buscar input{
    width:0px;
    height:40px;
    padding:0 20px;
    font-size:18px;
    color:black;
    outline:none;
    border:1px solid yellow;
    border-radius:30px;
    transition: all 0.6s ease;
}
.btn{
    position: absolute;
    top:0;
    right:0;
    background: red;
    width:40px;
    height:40px;
    line-height:55px;
    text-align:center;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    cursor:pointer;
}
.buscar:hover input{
    width:240px;
}
.buscar input:focus{
    width:240px;
}
#hero{
    background-image:url(../img/hero.jpg);
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
}
#hero::before{
    content: "";
    background:rgba(0, 0, 0, 0.45);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}
#encabezado{
    margin:30px 0;
    color: yellow;
}
.submenu{
    position: relative;
}
.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right:0;
    color:white;
    top:100%;
    z-index:1;
    background-color:#EC6F44;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}
.vacio{
    padding:10px;
    background-color:crimson;
    text-align: center;
    border-radius: 10px;
    color:black;
}
.contenido-hero{
    padding-top: 120px;
    margin-top: 80;
    color:white;
}
.contenido-hero form{
    position:relative;
    margin-bottom: 0;
}
.contenido-hero form #buscador{
    height: 50px;
    margin-bottom: 0;
}



.icono{
    background-repeat: no-repeat;
    background-position:left center;
    padding-left:60px;
    background-size: 30px;
    margin-bottom: 40px;
    text-align:center;
}
@media(min-width:750px){
    .icono{
        margin-bottom: 0;
    }
} 
.icono1{
    background-image:url(../img/icono1.png);
}
.icono2{
    background-image:url(../img/icono2.png);
}
.icono3{
    background-image:url(../img/icono3.png);
}

.agregar-carrito{
    margin: 10px 0;
}
.button-carrito:hover{
    color: #FFF;
    background-color: red;
    border-color: red;
}
.agregar-carrito{
    margin:10px 0;
    width:100%;
    color: black;
    background-color: red;
    border-color: red; 
}
.card{
    text-align:center;
    box-shadow:0 25px 98px 0 rgb(0 0 0 /3%);
    background: #362D27;
    width:110%;
}
@media (min-width:550px){
    .card{
        text-align:left;
    }
}
.info-card{
    padding: 10px 20px;
    color:white;
}
.info-card p,
.card h4{
    margin-bottom: 5px;
}
.info-card .precio{
    text-decoration: line-through;
    font-size: 18px;
    margin-top: 10px;
}
.info-card .precio span{
    font-weight: 700;
    font-size: 22px;
}
.footer{
    border-top:1px solid white;
    margin-top:40px;
    padding-top:40px;
}
.footer .menu a{
    display:block;
    color: white;
    margin-bottom: 10px;
    text-decoration:none;
}
.row1{
    display: flex;
    justify-content: center;
}

.general{
    margin: auto;
    margin-top: 50px;
    width: 90%;
    height:800px;
}
.compras{
    justify-content: center;
    padding:10px;
    float: right;
    margin-top:20px;
    width: 830px;
    height:490%;
    border: 3px dashed black;
}
.novedades{
    padding-left: 40px;
    float:left;
    margin-top:20px;
    width: 200px;
    height:500px;
}

.contenedor_comida{
    float:left;
    margin-top:20px;
}
.list-carta{
    text-decoration: none;
    color:black;
}
.list-carta:hover{
color:blue;
}
h4{
    color:crimson;
}

.ubicacion img{
    width: 195px;
    height: 200px;
    border-radius:5px;
    border-style: dotted;
    
}
.compras img{
    width: 100%;
    height: 190px;
}
#title-product{
    color:yellow;
}